$font-primary: $font-family-open-sans
$font-secondary: $font-family-droid-sans

$color-primary: $tuna
$color-secondary: $concrete
$color-secondary-dark: $silver-dark

$color-border-primary: $gallery
$color-border-secondary: $alto

$color-box-shadow-primary: $astral
$color-box-shadow-secondary: $gallery

$color-background-primary: $danube
$color-background-primary-dark: $astral
$color-background-secondary: $concrete