.footer
  display: flex
  flex-direction: row
  z-index: 2

  padding: 5px

  background-color: $color-background-primary
  box-shadow: 1px -1px 1px -1px $color-box-shadow-primary
  border-top: 1px solid $color-border-secondary

  > .footer-item
    flex: 1
    color: $color-primary
    font-size: $font-size-sm
    font-weight: $font-weight-md
    text-align: left
    text-transform: uppercase
