main
    overflow-y: auto

    > .container
        overflow-y: auto
        width: calc(#{$break-lg} - 1rem)

        word-wrap: break-word

        margin: auto
        padding: 0.5rem

        @media screen and (max-width: $break-lg)
            width: calc(#{$break-md} - 1rem)

        @media screen and (max-width: $break-md)
            width: 100%

        @media screen and (max-width: $break-sm)
            width: 100%
