main
    overflow-y: auto

    > .container
        overflow-y: auto
        max-width: $break-lg
        width: 100%
        word-wrap: break-word
        padding: 0.5rem
        margin: auto

        @media screen and (max-width: $break-lg)
            max-width: $break-md

        @media screen and (max-width: $break-md)
            width: 100%